<div class="footer--bg">
  <footer class="row footer">
    <div class="medium-gutter"></div>
    <div class="column small-12 text-center">
      <p class="white">&copy; {{ site.time | date: '%Y' }} {{ site.title }} &middot; All Rights Reserved</p>
      <p><span class="white">Site by </span><a href="http://matthewblode.com/" class="a--white">Matthew Blode</a></p>

      <div class="menu-centered">
        <ul class="menu simple">
          {% for social in site.data.social %}
          <li>
          <a href="{{ social.href | prepend: site.baseurl }}" target="_blank">
              <i class="fa fa-15x {{ social.icon }} a--white"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="medium-gutter"></div>
  </footer>
</div>
