<footer class="row footer">
  <div class="column small-12 medium-6">
    <ul class="menu simple">
      {% for nav in site.data.nav %}
      <li>
        <a href="{{ nav.href | prepend: site.baseurl }}">
          <p>{{ nav.title }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    <ul class="menu simple">
      {% for social in site.data.social %}
      <li>
        <a href="{{ social.href | prepend: site.baseurl }}">
          <p>{{ social.title }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="column small-12 medium-6">
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }} &middot; All Rights Reserved</p>
    <p>Site by Matthew Blode</p>
  </div>
</footer>
