<nav class="nav">
  <div class="row">
    <ul class="nav--primary">
      <li class="menu-text">
        <a href="{{ site.baseurl }}/">
          <h3>{{ site.title }}</h3>
        </a>
      </li>
    </ul>

    <ul class="menu nav--secondary">
      <li>
        <a href="{{ site.baseurl }}/">
          Home
        </a>
      </li>

      {% for page in site.pages %}
      <li>
        <a href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
