<div class="hero--bg">
  <div class="row hero">
    <div class="columns small-12 text-center">
      <div class="medium-gutter"></div>

      <h1 class="hero--title">Tavlin</h1>
      <h3 class="hero--info">
        Authentic Middle Eastern Cusisine
      </h3>

      <a href="javascript:void(window.open('http://widget.dimmi.com.au/entry/30187?referrerUrl=http://www.tavlin.com.au&ShowHeader=True','Dimmi','width=302,height=432,top=60,left=60'))" class="button button--ghost">Book Online</a>
      <a href="http://www.menulog.com.au/order/tavlin" target="_blank" class="button button--ghost">Order Now</a>

      <div class="medium-gutter"></div>
    </div>
  </div>
</div>
