<div class="hero--bg">
  <div class="row hero">
    <div class="columns small-12 text-center">
      <div class="xl-large-gutter"></div>

      <img class="hero--title shadowed" src="assets/images/tavlin.svg" alt="Tavlin">
      <h3 class="hero--info">
        Authentic Middle Eastern Cuisine
      </h3>

      <a href="javascript:void(window.open('http://widget.dimmi.com.au/entry/30187?referrerUrl=http://www.tavlin.com.au&ShowHeader=True','Dimmi','width=302,height=432,top=60,left=60'))" class="button">Book Online</a>
      <a href="http://www.menulog.com.au/order/tavlin" target="_blank" class="button">Order Now</a>

      <div class="xl-large-gutter"></div>
    </div>
  </div>
</div>
