<nav class="nav">
  <div class="row">
    <ul class="menu nav--primary">
      <li class="">
        <a href="{{ site.baseurl }}/">
          <h3>{{ site.title }}</h3>
        </a>
      </li>
    </ul>

    <ul class="menu nav--secondary">
      <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
      <li><a href="/menu/" {% if page.url == "/menu/" %}class="active"{% endif %}>Menu</a></li>
      <li><a href="/gallery/" {% if page.url == "/gallery/" %}class="active"{% endif %}>Gallery</a></li>
      <li><a href="/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}>Contact</a></li>
      <li><a href="javascript:void(window.open('http://widget.dimmi.com.au/entry/30187?referrerUrl=http://www.tavlin.com.au&ShowHeader=True','Dimmi','width=302,height=432,top=60,left=60'))">Book Online</a></li>
      <li><a href="http://www.menulog.com.au/order/tavlin" target="_blank">Order Now</a></li>
    </ul>
  </div>
</nav>
