.footer--menu {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: center;
  li {
    display: inline;
    margin-left: $md-pad;
    margin-right: $md-pad;
  }
  a {
    text-decoration: none;
  }
}
