.hero--bg {
  background: url("../images/bg-3.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 0;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery--bg {
  width: 100%;
  height: auto
}

@media screen and (min-width: 40em) {
  .hero--bg {
    background-attachment: fixed;
  }

  .gallery--bg {
    background-attachment: fixed;
  }
}

.hero {
  color: $white;
}


.hero--title {
  width: 60%;
}

.hero--info {
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .30), 0 3px 6px rgba(0, 0, 0, .30);
}

@media screen and (min-width: 40em) {
  .hero--title {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .hero--bg {
    margin-top: 35px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 64em) {
  .hero--title {
    font-size: 100px;
  }
}