.nav {
  background: #fff;
  box-shadow: 0 1px 4px $dividers;
}

.nav--primary {
  border-bottom: $border;
  margin: 0;
  h3 {
    margin: 0;
    color: $text;
  }
}

.nav--secondary {
  margin: 0;
  display: flex;
  flex-wrap: nowraps;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-left: 8px;

  li {
    display: inline;
  }
  a {
    color: $secondary;
    text-decoration: none;
    padding-right: 8px !important;
    padding-left: 8px !important;

    &:hover,
    &:focus,
    &.active {
      color: $text;
    }
  }
}
