.no-pad-small {
  padding-left: 0;
  padding-right: 0;
}

.row {
  max-width: 1000px;
}

.hr--small {
  margin: 0;
}

.small-gutter {
  height: 15px;
  width: 100%;
}

.medium-gutter {
  height: 30px;
  width: 100%;
}

.large-gutter {
  height: 60px;
  width: 100%;
}

.xl-large-gutter {
  height: 60px;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .medium-text-center {
    text-align: center;
  }

  .medium-text-right {
    text-align: right;
  }

  .large-gutter {
    height: 80px;
    width: 100%;
  }

  .xl-large-gutter {
    height: 100px;
  }
}

.button--ghost {
  background: rgba(0, 0, 0, .3);
  border: 2px solid $white;
  font-weight: bold;
  margin: 0 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
  border-radius: 3px;

  &:hover,
  &:active,
  &:focus, {
    background: $text;
  }
}

table,
tbody {
  background: transparent !important;
  border: none !important;
}

tr {
  background: transparent !important;
}

td {
  padding: 3px 0 !important;
}

.fa-15x {
  font-size: 20px !important;
}

img {
  border-radius: 3px;
}

.home {
  img {
    margin-bottom: 10px;
  }
}
