:root {
  background: #FAFAFA;
}

.row {
  width: 100%;
  max-width: $large-breakpoint;
  margin: 0 auto;
  display: block;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  border-top: $border;
  display: block;
  margin-bottom: $md-pad;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

.hr__small-top {
  margin-top: 0;
}

.no-pad-small {
  padding-left: 0;
  padding-right: 0;
}
