.hr__small-top {
  margin-top: 0;
}

.no-pad-small {
  padding-left: 0;
  padding-right: 0;
}

.row {
  max-width: 700px;
}

.small-gutter {
  height: 15px;
  width: 100%;
}

.medium-gutter {
  height: 30px;
  width: 100%;
}

.large-gutter {
  height: 60px;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .medium-text-center {
    text-align: center;
  }

  .medium-text-right {
    text-align: right;
  }
}

.button--ghost {
  background: transparent;
  border: 2px solid $white;
  font-weight: bold;
  margin: 0 5px;
}

table,
tbody {
  background: transparent !important;
  border: none !important;
}

tr {
  background: transparent !important;
}

td {
  padding: 3px 0 !important;
}