body {
  font-family: $sans;
  color: $text;
  font-size: 16px;
}

.p--large {
  font-size: 18px;
}

.p--small {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 40em) {
  .p--large {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }
}

.white {
  color: $text-white;
}

.a--white {
  color: $text-white !important;

  &:hover {
    color: $white !important;
  }

  &:hover:not(i) {
    text-decoration: underline;
  }
}

.a--black {
  color: $text !important;
  &:hover:not(i) {
    text-decoration: underline;
  }
}

.a--menu {
  color: $secondary;
  text-decoration: none;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &:hover,
  &:focus,
  &.active {
    color: $text;
  }
}