$white: #fff;
$md-pad: 16px;
$sm-pad: 8px;
$dividers: rgba(0, 0, 0, .12);
$border: 1px solid rgba(0, 0, 0, .12);
$secondary: rgba(0, 0, 0, .44);
$text: rgba(0, 0, 0, .80);

$serif: "adobe-caslon-pro", serif;
$sans: "futura-pt", sans-serif;